body{
    background-color: #FFFBFA;
    padding: 20px;  
}
/* Navbar CSS */
.portfolio{
    font-family: "Source Serif 4", serif;
    font-size: 28px;
    font-weight: 600;
    color: #281E1B;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: space-between;
}
.navbar .nav-items {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
.navbar .nav-items a {
    text-decoration: none;
    color: #281E1B;
  }
.heading{
    font-size: 60px;
    text-align: center;
    font-family: "Outfit", sans-serif;
}

.center-image img {
    max-height: 600px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }


/* Grid Section CSS */
@media (max-width: 768px) {
    .grid-images {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .grid-images {
        grid-template-columns: 1fr;
    }
}
    
.grid-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: 100px;
    width: 100%;
}
  
.grid-image {
    background-color: #fff;
    text-align: center;
    transition: transform 0.2s;
}

  
.grid-image img {
    width: 100%;
    height: auto;
}
  
.grid-image h3 {
    font-weight: lighter;
    font-family: "Outfit", sans-serif;
    text-align: left;
    font-size: 1.2em;
    margin: 10px 0;
    color: #281E1B;
}
  
.grid-image p {
    font-family: "Outfit", sans-serif;
    text-align: left;
    color: rgba(46, 27, 20, 0.62);
    margin-bottom: 10px;
}


.about-section {
    display: flex;
    flex-direction: row;
    padding: 52px 0;
  }
.blank-space{
    height:160px;
    width: 2000px;
}
  
.paragraph {
    font-family: "Outfit", sans-serif;
    color: #555;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.2em;
}

/* Highlights Section CSS */
.highlights-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.highlights-section h2{
    font-family: "Outfit", sans-serif;
    font-size: 27px;
}

.highlights-table{
    text-align: left;
    gap: 10px;
}
.highlights-table th,td {
    padding: 2px 90px;
    font-family: "Outfit", sans-serif;
  }

.highlights-table th{
    color: rgba(40, 30, 27, 1);
}
.highlights-table td{
    color: rgba(46, 27, 20, 0.62);
}

/* Impact Metrics CSS */
.impact-metrics {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.impact-metrics td{
    padding: 0 150px;
    text-align: left;
}
.impact-metrics h2{
    font-size: 27px;
    font-family: "Outfit", sans-serif;
}

.metrics-table {
    text-align: left;
    gap: 10px;
}

.metric h3 {
    width: 150%;
    border-top: 1.5px solid rgba(110, 83, 73, 0.2);
    font-size: 2.5em;
    margin-bottom: 10px;
    color: rgba(40, 30, 27, 1);
}

.metric p {
    color: rgba(46, 27, 20, 0.62);
}


/* Testimonial CSS */
.testimonial-section h2{
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-size: 48px;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Outfit", sans-serif;

  }
  
.testimonial-card {
    width: 250px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    text-align: center;
    background-color: rgba(126, 61, 37, 0.09);
  }
.profile{
    display: flex;
    align-items: center;
  }

.profile-text { 
    display: flex;
    flex-direction: column; 
  }
  
.testimonial-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
.testimonial-text {
    margin-bottom: 10px;
    border-left: 1.5px solid rgba(110, 83, 73, 0.2);
  }
  
  .client-name {
    font-weight: bold;
    display: block;
    color: rgba(40, 30, 27, 1);
  }
  
  .client-title {
    font-size: smaller;
    display: block;
    color: rgba(46, 27, 20, 0.62);
  }
  .designer-container{
    display: flex;
    justify-content: center;
  }
  .designer-description {

    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 48px;
    font-family: "Outfit", sans-serif;
    width: 900px;
  }
  
  
  /* Footer Section */

  .footer{
    margin-top:50px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer h2{
    font-size: 27px;
    color: rgba(46, 27, 20, 0.62);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
  }
.footer button{
    height: 40px;
    width: 140px;
    color: rgba(40, 30, 27, 1);
    font-family: "Outfit", sans-serif;
    background-color: #FFFBFA;
    border: 1.5px solid rgba(110, 83, 73, 0.2);
  }

.form-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.form-section h2{
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    color: rgba(40, 30, 27, 1);
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;  
  }
  
  .name-container {
    display: flex;
    justify-content: space-between;
  }
  input[type="text"]{
    margin-right: 10px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1.5px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    background-color: rgba(126, 61, 37, 0.09);
    color: rgba(46, 27, 20, 0.4);
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    background-color: rgba(126, 61, 37, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }