body{
    background-color: #FFFBFA;
    padding: 20px;
}
.portfolio{
    font-family: "Source Serif 4", serif;
    font-size: 28px;
    font-weight: 600;
    color: #281E1B;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: space-between;
}
.navbar .nav-items {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navbar .nav-items a {
    text-decoration: none;
    color: #281E1B;
  }
